[package]
name = "TinyWiiBackupManager"
version = "4.5.1"
rust-version = "1.91"
edition = "2024"
authors = ["Manuel Quarneti <mq1@ik.me>"]
license = "GPL-3.0-only"
repository = "https://github.com/mq1/TinyWiiBackupManager"
homepage = "https://github.com/mq1/TinyWiiBackupManager/wiki"
description = "A tiny game backup and homebrew app manager for the Wii"
build = "build.rs"

[package.metadata.packager]
product-name = "TinyWiiBackupManager"
identifier = "it.mq1.TinyWiiBackupManager"
icons = ["assets/TinyWiiBackupManager@2x.png"]
copyright = "Copyright © 2025 Manuel Quarneti. Licensed under GPL-3.0-only."
category = "Utility"
macos.minimumSystemVersion = "MACOS_MIN_SYS_VER"

[package.metadata.winres]
FileDescription = "TinyWiiBackupManager"
ProductName = "TinyWiiBackupManager"
OriginalFilename = "TinyWiiBackupManager.exe"
LegalCopyright = "Copyright © 2025 Manuel Quarneti. Licensed under GPL-3.0-only."

[dependencies]
egui_extras = { version = "0.33", features = ["image", "file"] }
image = { version = "0.25", default-features = false, features = ["png"] }
egui-notify = "0.21"
egui-file-dialog = { git = "https://github.com/mq1/egui-file-dialog", tag = "v0.12.0-fix" }
crossbeam-channel = "0.5"
ureq = { version = "3.1", default-features = false }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
directories = "6.0"
anyhow = "1.0"
fs_extra = "1.3"
size = { version = "0.5", features = ["serde"] }
zip = { version = "6.0", default-features = false, features = [
    "deflate-flate2",
] }
quick-xml = { version = "0.38", features = ["serialize"] }
sysinfo = "0.37"
open = "5.3"
tempfile = "3.23"
nod = "2.0.0-alpha.4"
num_cpus = "1.17"
semver = "1.0"
path-slash = "0.2"
hex = "0.4"
sanitize-filename = "0.7.0-beta"
capitalize = "0.3"
log = "0.4"
env_logger = { version = "0.11", default-features = false, features = [
    "auto-color",
    "humantime",
] }
walkdir = "2.5"
itertools = "0.14"
smallvec = "1.15"
time = { version = "0.3", features = ["macros", "parsing", "serde"] }

[target.'cfg(any(all(target_os = "macos", target_arch = "x86_64"), target_os = "linux", target_vendor = "win7"))'.dependencies]
eframe = "0.33"

[target.'cfg(any(all(target_os = "macos", target_arch = "aarch64"), target_vendor = "pc"))'.dependencies]
eframe = { version = "0.33", default-features = false, features = [
    "accesskit",
    "default_fonts",
    "wgpu",
] }

[target.'cfg(all(target_os = "macos", target_arch = "aarch64"))'.dependencies]
wgpu = { version = "*", default-features = false, features = [
    "metal",
    "std",
    "parking_lot",
] }

[target.'cfg(target_vendor = "pc")'.dependencies]
wgpu = { version = "*", default-features = false, features = [
    "dx12",
    "std",
    "parking_lot",
] }

[features]
default = ["native-tls"]
native-tls = ["ureq/native-tls", "ureq/platform-verifier"]
bundled-tls = ["ureq/rustls"]

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"

[target.'cfg(target_vendor = "pc")'.build-dependencies]
static_vcruntime = "3.0"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
strip = true
panic = "abort"

[profile.dev.package."*"]
opt-level = 2

[profile.dev.package.quick-xml]
overflow-checks = false
