[Desktop Entry]
Categories=Game;Utility;
Comment=A tiny game backup and homebrew app manager for the Wii
Exec=TinyWiiBackupManager
Icon=TinyWiiBackupManager
Name=TinyWiiBackupManager
Terminal=false
Type=Application
