[Desktop Entry]
Name=Tiny Wii Backup Manager
Exec=tinywiibackupmanager
Icon=tinywiibackupmanager
Type=Application
Categories=Utility
Comment=Backup your Wii games!
GenericName=Backup your Wii Games!
