name: Release

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
    paths:
      - "build.rs"
      - "src/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - "package/**"
      - ".github/workflows/release.yml"
  pull_request:

permissions:
  contents: write

env:
  VERSION_NAME: ${{ github.ref_type == 'tag' && github.ref_name || github.sha }}

jobs:
  # ==================================================================================
  #  Build & Bundle Jobs: Run the platform-specific build scripts.
  # ==================================================================================
  build-linux:
    name: Build for Linux
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            runner: ubuntu-22.04
            arch: x86_64-v3
            rustflags: -C target-cpu=x86-64-v3
            cflags: -march=x86-64-v3
            cxxflags: -march=x86-64-v3
            linuxdeploy-bin: linuxdeploy-x86_64.AppImage
            linuxdeploy-ai-bin: linuxdeploy-plugin-appimage-x86_64.AppImage
          - target: x86_64-unknown-linux-gnu
            runner: ubuntu-22.04
            arch: x86_64-v2
            rustflags: -C target-cpu=x86-64-v2
            cflags: -march=x86-64-v2
            cxxflags: -march=x86-64-v2
            linuxdeploy-bin: linuxdeploy-x86_64.AppImage
            linuxdeploy-ai-bin: linuxdeploy-plugin-appimage-x86_64.AppImage
          - target: x86_64-unknown-linux-gnu
            runner: ubuntu-22.04
            arch: x86_64
            linuxdeploy-bin: linuxdeploy-x86_64.AppImage
            linuxdeploy-ai-bin: linuxdeploy-plugin-appimage-x86_64.AppImage
          - target: aarch64-unknown-linux-gnu
            runner: ubuntu-22.04-arm
            arch: arm64
            linuxdeploy-bin: linuxdeploy-aarch64.AppImage
            linuxdeploy-ai-bin: linuxdeploy-plugin-appimage-aarch64.AppImage
          - target: i686-unknown-linux-gnu
            runner: ubuntu-22.04
            arch: x86
            linuxdeploy-bin: linuxdeploy-i386.AppImage
            linuxdeploy-ai-bin: linuxdeploy-plugin-appimage-i686.AppImage

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install LLVM 21
        run: |
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 21
          sudo ln -sf $(which lld-21) /usr/bin/ld

      - name: Install x86 dependencies
        if: matrix.arch == 'x86'
        run: sudo apt-get install -y libc6-dev-i386

      - name: Install Rust toolchain
        run: |
          rustup toolchain install 1.93 --component rust-src
          rustup default 1.93

      - name: Download LinuxDeploy
        run: |
          wget "https://github.com/linuxdeploy/linuxdeploy/releases/latest/download/${{ matrix.linuxdeploy-bin }}"
          wget "https://github.com/linuxdeploy/linuxdeploy-plugin-appimage/releases/latest/download/${{ matrix.linuxdeploy-ai-bin }}"
          chmod +x *.AppImage

      - name: Build binary
        run: cargo build -Z build-std=std,panic_abort --profile release-lto --locked --target ${{ matrix.target }} --features linux-appimage
        env:
          RUSTC_BOOTSTRAP: 1
          RUSTFLAGS: -C linker-plugin-lto -C link-arg=-fuse-ld=lld-21 ${{ matrix.rustflags }}
          CC: clang-21
          CXX: clang++-21
          AR: llvm-ar-21
          CFLAGS: -O3 -flto -fuse-ld=lld-21 ${{ matrix.cflags }}
          CXXFLAGS: -O3 -flto -fuse-ld=lld-21 ${{ matrix.cxxflags }}
          CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_LINKER: clang-21
          CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER: clang-21
          CARGO_TARGET_I686_UNKNOWN_LINUX_GNU_LINKER: clang-21

      - name: Package binary as tar.gz
        run: |
          mkdir dist
          cp "target/${{ matrix.target }}/release-lto/TinyWiiBackupManager" TinyWiiBackupManager
          tar -I 'gzip -9' -cvf "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-linux-${{ matrix.arch }}.tar.gz" TinyWiiBackupManager

      - name: Package binary as AppImage
        run: |
          cp -r package/linux AppDir
          ./${{ matrix.linuxdeploy-bin }} --appdir AppDir -e TinyWiiBackupManager --output appimage
          mv TinyWiiBackupManager-*.AppImage "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-linux-${{ matrix.arch }}.AppImage"
          mv TinyWiiBackupManager-*.AppImage.zsync "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-linux-${{ matrix.arch }}.AppImage.zsync"
        env:
          LDAI_UPDATE_INFORMATION: "gh-releases-zsync|mq1|TinyWiiBackupManager|latest|*${{ matrix.arch }}.AppImage.zsync"

      - name: Upload Linux distributables
        uses: actions/upload-artifact@v4
        with:
          name: dist-linux-${{ matrix.arch }}
          path: dist/*

  build-windows:
    name: Build for Windows
    runs-on: windows-2025-vs2026
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-pc-windows-msvc
            arch: x86_64-v3
            rustflags: -C target-cpu=x86-64-v3
            cflags: /clang:-march=x86-64-v3
            cxxflags: /clang:-march=x86-64-v3
          - target: x86_64-pc-windows-msvc
            arch: x86_64-v2
            rustflags: -C target-cpu=x86-64-v2
            cflags: /clang:-march=x86-64-v2
            cxxflags: /clang:-march=x86-64-v2
          - target: x86_64-pc-windows-msvc
            arch: x86_64
          - target: aarch64-pc-windows-msvc
            arch: arm64
          - target: i686-pc-windows-msvc
            arch: x86

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "21.1.8"

      - name: Install Rust toolchain
        shell: pwsh
        run: |
          rustup toolchain install 1.93 --component rust-src
          rustup default 1.93

      - name: Build binary
        shell: pwsh
        run: cargo build -Z build-std=std,panic_abort --profile release-lto --locked --target ${{ matrix.target }} --features win10
        env:
          RUSTC_BOOTSTRAP: 1
          RUSTFLAGS: -C linker-plugin-lto ${{ matrix.rustflags }}
          CC: clang-cl
          CXX: clang-cl
          AR: llvm-lib
          CFLAGS: /clang:-O3 /clang:-flto /clang:-fuse-ld=lld-link ${{ matrix.cflags }}
          CXXFLAGS: /clang:-O3 /clang:-flto /clang:-fuse-ld=lld-link ${{ matrix.cxxflags }}
          CARGO_TARGET_X86_64_PC_WINDOWS_MSVC_LINKER: lld-link
          CARGO_TARGET_AARCH64_PC_WINDOWS_MSVC_LINKER: lld-link
          CARGO_TARGET_I686_PC_WINDOWS_MSVC_LINKER: lld-link

      - name: Package binary as zip
        shell: pwsh
        run: |
          New-Item -Path "dist" -ItemType Directory
          Copy-Item -Path "target/${{ matrix.target }}/release-lto/TinyWiiBackupManager.exe" -Destination TinyWiiBackupManager.exe
          7z a -tzip -mx=9 "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-windows-${{ matrix.arch }}.zip" TinyWiiBackupManager.exe

      - name: Upload Windows distributables
        uses: actions/upload-artifact@v4
        with:
          name: dist-windows-${{ matrix.arch }}
          path: dist/*

  build-windows7:
    name: Build for Windows 7
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-win7-windows-msvc
            arch: x86_64
          - target: i686-win7-windows-msvc
            arch: x86

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install Rust toolchain
        shell: pwsh
        run: |
          rustup toolchain install 1.93 --component rust-src
          rustup default 1.93

      - name: Build binary
        shell: pwsh
        run: cargo build -Z build-std=std,panic_abort --profile release-lto --locked --target ${{ matrix.target }} --features win7
        env:
          RUSTC_BOOTSTRAP: 1
          RUSTFLAGS: -C link-args=/NODEFAULTLIB:combase

      - name: Package binary as zip
        shell: pwsh
        run: |
          New-Item -Path "dist" -ItemType Directory
          Copy-Item -Path "target/${{ matrix.target }}/release-lto/TinyWiiBackupManager.exe" -Destination TinyWiiBackupManager.exe
          7z a -tzip -mx=9 "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-windows7-${{ matrix.arch }}.zip" TinyWiiBackupManager.exe

      - name: Upload Windows 7 distributables
        uses: actions/upload-artifact@v4
        with:
          name: dist-windows7-${{ matrix.arch }}
          path: dist/*

  build-macos:
    name: Build for macOS
    runs-on: macos-26
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-apple-darwin
            arch: arm64
            deployment_target: 11.0
          - target: x86_64-apple-darwin
            arch: x86_64
            deployment_target: 10.13

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install Rust toolchain
        run: |
          rustup toolchain install 1.93
          rustup default 1.93
          rustup target add ${{ matrix.target }}

      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.arch }}

      - name: Build binary
        run: cargo build --profile release-lto --locked --target ${{ matrix.target }} --features macos
        env:
          RUSTFLAGS: -C link-arg=-mmacosx-version-min=${{ matrix.deployment_target }}
          CFLAGS: -O3 -flto -mmacosx-version-min=${{ matrix.deployment_target }}
          CXXFLAGS: -O3 -flto -mmacosx-version-min=${{ matrix.deployment_target }}

      - name: Build macOS app bundle
        run: |
          mkdir -p TinyWiiBackupManager.app/Contents/MacOS TinyWiiBackupManager.app/Contents/Resources
          cp "target/${{ matrix.target }}/release-lto/TinyWiiBackupManager" TinyWiiBackupManager.app/Contents/MacOS/TinyWiiBackupManager
          sed 's/{{ VERSION_NAME }}/${{ env.VERSION_NAME }}/' package/macos/Info.plist > TinyWiiBackupManager.app/Contents/Info.plist
          cp package/macos/TinyWiiBackupManager.icns TinyWiiBackupManager.app/Contents/Resources/TinyWiiBackupManager.icns

      - name: zip the app
        run: |
          mkdir dist
          ditto -c -k --sequesterRsrc --keepParent --zlibCompressionLevel 9 \
            TinyWiiBackupManager.app \
            "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-macos-${{ matrix.arch }}.zip"

      - name: Create dmg
        run: |
          npx -y appdmg@0.6.6 \
            package/macos/appdmg.json \
            "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-macos-${{ matrix.arch }}.dmg"

      - name: Upload macOS distributables
        uses: actions/upload-artifact@v4
        with:
          name: dist-macos-${{ matrix.arch }}
          path: dist/*

  build-macos-universal:
    name: Build macOS dmg (Universal2)
    runs-on: macos-26
    needs: [build-macos]

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 1

    - name: Download macOS .app distributables
      uses: actions/download-artifact@v7
      with:
        pattern: "dist-macos-*"

    - name: Extract the .zip distributables
      run: |
        ditto -x -k "dist-macos-arm64/TinyWiiBackupManager-${{ env.VERSION_NAME }}-macos-arm64.zip" .
        ditto -x -k "dist-macos-x86_64/TinyWiiBackupManager-${{ env.VERSION_NAME }}-macos-x86_64.zip" dist-macos-x86_64

    - name: Create the Universal2 app
      run: |
        lipo -create \
          -output TinyWiiBackupManager.app/Contents/MacOS/TinyWiiBackupManager \
          TinyWiiBackupManager.app/Contents/MacOS/TinyWiiBackupManager \
          dist-macos-x86_64/TinyWiiBackupManager.app/Contents/MacOS/TinyWiiBackupManager
        codesign --force --deep -s - TinyWiiBackupManager.app

    - name: zip the app
      run: |
        mkdir dist
        ditto -c -k --sequesterRsrc --keepParent --zlibCompressionLevel 9 \
          TinyWiiBackupManager.app \
          "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-macos-universal.zip"

    - name: Create dmg (assets from sindresorhus/create-dmg)
      run: |
        npx -y appdmg@0.6.6 \
          package/macos/appdmg.json \
          "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-macos-universal.dmg"

    - name: Upload macOS distributables
      uses: actions/upload-artifact@v4
      with:
        name: dist-macos-universal
        path: dist/*

  # ==================================================================================
  #  Release Job: Collects all artifacts and creates a single GitHub Release.
  # ==================================================================================
  release:
    name: Create GitHub Release
    if: github.ref_type == 'tag'
    runs-on: ubuntu-slim
    needs: [build-linux, build-windows, build-windows7, build-macos, build-macos-universal]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Download distributables
        uses: actions/download-artifact@v7
        with:
          path: dist
          pattern: "dist-*" # This pattern will match all final distributable artifacts
          merge-multiple: true # This places all matching artifacts into a single 'dist' directory

      - name: Create version.txt
        run: |
          plain_ver="${VERSION_NAME#v}" # Remove leading 'v'
          echo -n "${plain_ver}" > version.txt  # Write without line break

      - name: Generate release notes
        run: ./scripts/generate-release-notes.sh $VERSION_NAME > BODY.md

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*
            version.txt
          body_path: BODY.md
          prerelease: ${{ contains(env.VERSION_NAME, 'alpha') || contains(env.VERSION_NAME, 'beta') || contains(env.VERSION_NAME, 'rc') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
