name: Release

on:
  push:
    branches:
      - main
      - native-dialog
    tags:
      - "v*.*.*"
    paths:
      - "build.rs"
      - "src/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - "package/**"
      - ".github/workflows/release.yml"
  pull_request:

permissions:
  contents: write

env:
  VERSION_NAME: ${{ github.ref_type == 'tag' && github.ref_name || github.sha }}

jobs:
  # ==================================================================================
  #  Build & Bundle Jobs: Run the platform-specific build scripts.
  # ==================================================================================
  build-linux:
    name: Build for Linux
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            runner: ubuntu-22.04
            arch: x86_64-v3
            ldai-arch: x86_64
            rustflags: -C target-cpu=x86-64-v3
            cflags: -march=x86-64-v3
            cxxflags: -march=x86-64-v3
            linuxdeploy-bin: linuxdeploy-x86_64.AppImage
            linuxdeploy-ai-bin: linuxdeploy-plugin-appimage-x86_64.AppImage
          - target: x86_64-unknown-linux-gnu
            runner: ubuntu-22.04
            arch: x86_64-v2
            ldai-arch: x86_64
            rustflags: -C target-cpu=x86-64-v2
            cflags: -march=x86-64-v2
            cxxflags: -march=x86-64-v2
            linuxdeploy-bin: linuxdeploy-x86_64.AppImage
            linuxdeploy-ai-bin: linuxdeploy-plugin-appimage-x86_64.AppImage
          - target: x86_64-unknown-linux-gnu
            runner: ubuntu-22.04
            arch: x86_64
            ldai-arch: x86_64
            linuxdeploy-bin: linuxdeploy-x86_64.AppImage
            linuxdeploy-ai-bin: linuxdeploy-plugin-appimage-x86_64.AppImage
          - target: aarch64-unknown-linux-gnu
            runner: ubuntu-22.04-arm
            arch: arm64
            ldai-arch: aarch64
            linuxdeploy-bin: linuxdeploy-aarch64.AppImage
            linuxdeploy-ai-bin: linuxdeploy-plugin-appimage-aarch64.AppImage
          - target: i686-unknown-linux-gnu
            runner: ubuntu-22.04
            arch: x86
            linuxdeploy-bin: linuxdeploy-i386.AppImage
            linuxdeploy-ai-bin: linuxdeploy-plugin-appimage-i686.AppImage

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install dependencies
        if: matrix.arch != 'x86'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev

      - name: Install Rust toolchain
        if: matrix.arch != 'x86'
        uses: dtolnay/rust-toolchain@1.93
        with:
          components: rust-src

      - name: Download LinuxDeploy
        run: |
          wget "https://github.com/linuxdeploy/linuxdeploy/releases/latest/download/${{ matrix.linuxdeploy-bin }}"
          wget "https://github.com/linuxdeploy/linuxdeploy-plugin-appimage/releases/latest/download/${{ matrix.linuxdeploy-ai-bin }}"
          wget "https://raw.githubusercontent.com/linuxdeploy/linuxdeploy-plugin-gtk/master/linuxdeploy-plugin-gtk.sh"
          chmod +x *.AppImage *.sh
          cp -r package/linux AppDir

      - name: Build binary and AppImage
        if: matrix.arch != 'x86'
        run: |
          cargo build -Z build-std=std,panic_abort --profile release-lto --locked --target ${{ matrix.target }} --features linux-appimage
          cp "target/${{ matrix.target }}/release-lto/TinyWiiBackupManager" TinyWiiBackupManager
          ./${{ matrix.linuxdeploy-bin }} --appdir AppDir -e TinyWiiBackupManager --plugin gtk --output appimage
        env:
          RUSTC_BOOTSTRAP: 1
          RUSTFLAGS: ${{ matrix.rustflags }}
          CFLAGS: ${{ matrix.cflags }}
          CXXFLAGS: ${{ matrix.cxxflags }}
          LDAI_UPDATE_INFORMATION: "gh-releases-zsync|mq1|TinyWiiBackupManager|latest|*${{ matrix.arch }}.AppImage.zsync"
          DEPLOY_GTK_VERSION: 3
      
      - name: Build x86 binary and AppImage
        if: matrix.arch == 'x86'
        run: |
          docker run -v $PWD:/io -w /io i386/rust:1.93-bookworm bash -c "
            set -e
            export LDAI_UPDATE_INFORMATION=\"gh-releases-zsync|mq1|TinyWiiBackupManager|latest|*${{ matrix.arch }}.AppImage.zsync\"
            export DEPLOY_GTK_VERSION=3
            export APPIMAGE_EXTRACT_AND_RUN=1

            apt-get update
            apt-get install -y build-essential libgtk-3-dev pkg-config zsync
            cargo build --profile release-lto --locked --target ${{ matrix.target }} --features linux-appimage
            cp \"target/${{ matrix.target }}/release-lto/TinyWiiBackupManager\" TinyWiiBackupManager
            ./${{ matrix.linuxdeploy-bin }} --appdir AppDir -e TinyWiiBackupManager --plugin gtk --output appimage
          "
          sudo chown $(id -u):$(id -g) TinyWiiBackupManager
          sudo chown $(id -u):$(id -g) TinyWiiBackupManager-*.AppImage
          sudo chown $(id -u):$(id -g) TinyWiiBackupManager-*.AppImage.zsync
        
      - name: Package binary as tar.gz
        run: |
          mkdir dist
          tar -I 'gzip -9' -cvf "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-linux-${{ matrix.arch }}.tar.gz" TinyWiiBackupManager
      
      - name: Package binary as AppImage
        run: |
          cp TinyWiiBackupManager-*.AppImage "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-linux-${{ matrix.arch }}.AppImage"
          cp TinyWiiBackupManager-*.AppImage.zsync "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-linux-${{ matrix.arch }}.AppImage.zsync"

      - name: Upload Linux distributables
        uses: actions/upload-artifact@v4
        with:
          name: dist-linux-${{ matrix.arch }}
          path: dist/*

  build-windows:
    name: Build for Windows
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-pc-windows-msvc
            platform: windows
            arch: x86_64-v3
            rustflags: -C target-cpu=x86-64-v3
            cflags: /arch:AVX2
            cxxflags: /arch:AVX2
          - target: x86_64-pc-windows-msvc
            platform: windows
            arch: x86_64-v2
            rustflags: -C target-cpu=x86-64-v2
            cflags: /arch:AVX
            cxxflags: /arch:AVX
          - target: x86_64-pc-windows-msvc
            platform: windows
            arch: x86_64
          - target: aarch64-pc-windows-msvc
            platform: windows
            arch: arm64
          - target: i686-pc-windows-msvc
            platform: windows
            arch: x86
          - target: x86_64-win7-windows-msvc
            platform: windows-legacy
            arch: x86_64
          - target: i686-win7-windows-msvc
            platform: windows-legacy
            arch: x86

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@1.93
        with:
          components: rust-src

      - name: Download VC-LTL5
        shell: pwsh
        run: |
          Invoke-WebRequest -Uri "https://github.com/Chuyu-Team/VC-LTL5/releases/latest/download/VC-LTL-Binary.7z" -OutFile "VC-LTL-Binary.7z"
          7z x VC-LTL-Binary.7z -oVC-LTL-Binary

      - name: Download YY-Thunks
        if: matrix.platform == 'windows-legacy'
        shell: pwsh
        run: |
          Invoke-WebRequest -Uri "https://github.com/Chuyu-Team/YY-Thunks/releases/latest/download/YY-Thunks-Objs.zip" -OutFile "YY-Thunks-Objs.zip"
          7z x YY-Thunks-Objs.zip -oYY-Thunks-Objs

      - name: Build binary
        shell: pwsh
        run: cargo build -Z build-std=std,panic_abort --profile release-lto --locked --target ${{ matrix.target }} --features ${{ matrix.platform }}
        env:
          RUSTC_BOOTSTRAP: 1
          RUSTFLAGS: ${{ matrix.rustflags }} -C target-feature=+crt-static
          CFLAGS: ${{ matrix.cflags }}
          CXXFLAGS: ${{ matrix.cxxflags }}

      - name: Package binary as zip
        shell: pwsh
        run: |
          New-Item -Path "dist" -ItemType Directory
          Copy-Item -Path "target/${{ matrix.target }}/release-lto/TinyWiiBackupManager.exe" -Destination TinyWiiBackupManager.exe
          7z a -tzip -mx=9 "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-${{ matrix.platform }}-${{ matrix.arch }}.zip" TinyWiiBackupManager.exe

      - name: Upload Windows distributables
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.platform }}-${{ matrix.arch }}
          path: dist/*

  build-macos:
    name: Build for macOS
    runs-on: macos-26
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-apple-darwin
            arch: arm64
            deployment_target: 11.0
          - target: x86_64-apple-darwin
            arch: x86_64
            deployment_target: 10.13

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@1.93
        with:
          targets: ${{ matrix.target }}

      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.arch }}

      - name: Build binary
        run: cargo build --profile release-lto --locked --target ${{ matrix.target }} --features macos
        env:
          RUSTFLAGS: -C link-arg=-mmacosx-version-min=${{ matrix.deployment_target }}
          CFLAGS: -O3 -flto -mmacosx-version-min=${{ matrix.deployment_target }}
          CXXFLAGS: -O3 -flto -mmacosx-version-min=${{ matrix.deployment_target }}

      - name: Build macOS app bundle
        run: |
          mkdir -p TinyWiiBackupManager.app/Contents/MacOS TinyWiiBackupManager.app/Contents/Resources
          cp "target/${{ matrix.target }}/release-lto/TinyWiiBackupManager" TinyWiiBackupManager.app/Contents/MacOS/TinyWiiBackupManager
          sed 's/{{ VERSION_NAME }}/${{ env.VERSION_NAME }}/' package/macos/Info.plist > TinyWiiBackupManager.app/Contents/Info.plist
          cp package/macos/TinyWiiBackupManager.icns TinyWiiBackupManager.app/Contents/Resources/TinyWiiBackupManager.icns

      - name: zip the app
        run: |
          mkdir dist
          ditto -c -k --sequesterRsrc --keepParent --zlibCompressionLevel 9 \
            TinyWiiBackupManager.app \
            "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-macos-${{ matrix.arch }}.zip"

      - name: Create dmg
        run: |
          npx -y appdmg@0.6.6 \
            package/macos/appdmg.json \
            "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-macos-${{ matrix.arch }}.dmg"

      - name: Upload macOS distributables
        uses: actions/upload-artifact@v4
        with:
          name: dist-macos-${{ matrix.arch }}
          path: dist/*

  build-macos-universal:
    name: Build macOS dmg (Universal2)
    runs-on: macos-26
    needs: [build-macos]

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 1

    - name: Download macOS .app distributables
      uses: actions/download-artifact@v7
      with:
        pattern: "dist-macos-*"

    - name: Extract the .zip distributables
      run: |
        ditto -x -k "dist-macos-arm64/TinyWiiBackupManager-${{ env.VERSION_NAME }}-macos-arm64.zip" .
        ditto -x -k "dist-macos-x86_64/TinyWiiBackupManager-${{ env.VERSION_NAME }}-macos-x86_64.zip" dist-macos-x86_64

    - name: Create the Universal2 app
      run: |
        lipo -create \
          -output TinyWiiBackupManager.app/Contents/MacOS/TinyWiiBackupManager \
          TinyWiiBackupManager.app/Contents/MacOS/TinyWiiBackupManager \
          dist-macos-x86_64/TinyWiiBackupManager.app/Contents/MacOS/TinyWiiBackupManager
        codesign --force --deep -s - TinyWiiBackupManager.app

    - name: zip the app
      run: |
        mkdir dist
        ditto -c -k --sequesterRsrc --keepParent --zlibCompressionLevel 9 \
          TinyWiiBackupManager.app \
          "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-macos-universal.zip"

    - name: Create dmg (assets from sindresorhus/create-dmg)
      run: |
        npx -y appdmg@0.6.6 \
          package/macos/appdmg.json \
          "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-macos-universal.dmg"

    - name: Upload macOS distributables
      uses: actions/upload-artifact@v4
      with:
        name: dist-macos-universal
        path: dist/*

  # ==================================================================================
  #  Release Job: Collects all artifacts and creates a single GitHub Release.
  # ==================================================================================
  release:
    name: Create GitHub Release
    if: github.ref_type == 'tag'
    runs-on: ubuntu-slim
    needs: [build-linux, build-windows, build-macos, build-macos-universal]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Download distributables
        uses: actions/download-artifact@v7
        with:
          path: dist
          pattern: "dist-*" # This pattern will match all final distributable artifacts
          merge-multiple: true # This places all matching artifacts into a single 'dist' directory

      - name: Create version.txt
        run: |
          plain_ver="${VERSION_NAME#v}" # Remove leading 'v'
          echo -n "${plain_ver}" > version.txt  # Write without line break

      - name: Generate release notes
        run: ./scripts/generate-release-notes.sh $VERSION_NAME > BODY.md

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*
            version.txt
          body_path: BODY.md
          prerelease: ${{ contains(env.VERSION_NAME, 'alpha') || contains(env.VERSION_NAME, 'beta') || contains(env.VERSION_NAME, 'rc') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
