name: Release

on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
  pull_request:

permissions:
  contents: write

env:
  VERSION_NAME: ${{ github.ref_type == 'tag' && github.ref_name || github.sha }}

jobs:
  # ==================================================================================
  #  Build & Bundle Jobs: Run the platform-specific build scripts.
  # ==================================================================================
  build-linux:
    name: Build for Linux
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            runner: ubuntu-24.04
            arch: x86_64
            ldai-arch: x86_64
          - target: x86_64-unknown-linux-gnu
            runner: ubuntu-24.04
            arch: x86_64-v3
            ldai-arch: x86_64
            rustflags: -Ctarget-cpu=x86-64-v3
            cflags: -march=x86-64-v3
          - target: aarch64-unknown-linux-gnu
            runner: ubuntu-24.04-arm
            arch: arm64
            ldai-arch: aarch64
          - target: i686-unknown-linux-gnu
            runner: ubuntu-24.04
            arch: x86
            ldai-arch: none

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install x86 dependencies
        if: matrix.arch == 'x86'
        run: sudo apt-get install -y libc6-dev-i386

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.92
          components: rust-src
          cache: false # https://github.com/Swatinem/rust-cache/issues/161

      - name: Download LinuxDeploy
        if: matrix.ldai-arch != 'none'
        run: |
          wget "https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-${{ matrix.ldai-arch }}.AppImage"
          wget "https://github.com/linuxdeploy/linuxdeploy-plugin-appimage/releases/download/continuous/linuxdeploy-plugin-appimage-${{ matrix.ldai-arch }}.AppImage"
          chmod +x linuxdeploy-${{ matrix.ldai-arch }}.AppImage linuxdeploy-plugin-appimage-${{ matrix.ldai-arch }}.AppImage

      - name: Build binary
        run: cargo build -Z build-std=std,panic_abort --release --locked --target ${{ matrix.target }} --no-default-features --features "bundled-tls csd-abglyph"
        env:
          RUSTC_BOOTSTRAP: 1
          RUSTFLAGS: ${{ matrix.rustflags }}
          CFLAGS: ${{ matrix.cflags }}
          CXXFLAGS: ${{ matrix.cflags }}

      - name: Package binary as tar.gz
        run: |
          mkdir dist
          cp "target/${{ matrix.target }}/release/TinyWiiBackupManager" TinyWiiBackupManager
          chmod 755 TinyWiiBackupManager
          touch "Rename TinyWiiBackupManager to TinyWiiBackupManager-portable to make it portable"
          tar -I 'gzip -9' -cvf "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-linux-${{ matrix.arch }}.tar.gz" TinyWiiBackupManager "Rename TinyWiiBackupManager to TinyWiiBackupManager-portable to make it portable"

      - name: Package binary as AppImage
        if: matrix.ldai-arch != 'none'
        run: |
          ./linuxdeploy-${{ matrix.ldai-arch }}.AppImage --appdir TinyWiiBackupManager.AppDir -e target/${{ matrix.target }}/release/TinyWiiBackupManager -d assets/TinyWiiBackupManager.desktop -i assets/TinyWiiBackupManager.png --output appimage
          mv "TinyWiiBackupManager-${{ matrix.ldai-arch }}.AppImage" "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-linux-${{ matrix.arch }}.AppImage"
          mv "TinyWiiBackupManager-${{ matrix.ldai-arch }}.AppImage.zsync" "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-linux-${{ matrix.arch }}.AppImage.zsync"
        env:
          LDAI_UPDATE_INFORMATION: "gh-releases-zsync|mq1|TinyWiiBackupManager|latest|*${{ matrix.arch }}.AppImage.zsync"

      - name: Upload Linux distributables
        uses: actions/upload-artifact@v4
        with:
          name: dist-linux-${{ matrix.arch }}
          path: dist/*

  build-windows:
    name: Build for Windows
    runs-on: windows-2025
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-pc-windows-msvc
            arch: x86_64
            features: native-tls
            pc: windows
          - target: x86_64-pc-windows-msvc
            arch: x86_64-v3
            features: native-tls
            pc: windows
            rustflags: -Ctarget-cpu=x86-64-v3
            cflags: /arch:AVX2
          - target: aarch64-pc-windows-msvc
            arch: arm64
            features: native-tls
            pc: windows
          - target: i686-pc-windows-msvc
            arch: x86
            features: native-tls
            pc: windows
          - target: x86_64-win7-windows-msvc
            arch: x86_64
            features: bundled-tls
            pc: windows7
            rustflags: -Ctarget-feature=+crt-static
          - target: i686-win7-windows-msvc
            arch: x86
            features: bundled-tls
            pc: windows7
            rustflags: -Ctarget-feature=+crt-static

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.92
          components: rust-src
          cache: false # https://github.com/Swatinem/rust-cache/issues/161

      - name: Cache cargo-packager
        id: cache-cargo-packager-windows
        uses: actions/cache@v5
        with:
          path: ~/.cargo/bin/cargo-packager.exe
          key: cargo-packager-0.11.8-windows

      - name: Install cargo-packager
        if: steps.cache-cargo-packager-windows.outputs.cache-hit != 'true'
        shell: pwsh
        run: cargo install cargo-packager --version 0.11.8 --locked

      - name: Build binary
        shell: pwsh
        run: cargo build -Z build-std=std,panic_abort --release --locked --target ${{ matrix.target }} --no-default-features --features "${{ matrix.features }}"
        env:
          RUSTC_BOOTSTRAP: 1
          RUSTFLAGS: ${{ matrix.rustflags }}
          CFLAGS: ${{ matrix.cflags }}
          CXXFLAGS: ${{ matrix.cflags }}

      - name: Package binary as zip
        shell: pwsh
        run: |
          New-Item -Path "dist" -ItemType Directory
          Copy-Item -Path "target/${{ matrix.target }}/release/TinyWiiBackupManager.exe" -Destination TinyWiiBackupManager.exe
          New-Item -Path "Rename TinyWiiBackupManager.exe to TinyWiiBackupManager-portable.exe to make it portable" -ItemType File
          7z a -tzip -mx=9 "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-${{ matrix.pc }}-${{ matrix.arch }}.zip" TinyWiiBackupManager.exe "Rename TinyWiiBackupManager.exe to TinyWiiBackupManager-portable.exe to make it portable"

      - name: Package binary with NSIS
        shell: pwsh
        run: |
          cargo packager --release --target ${{ matrix.target }} --formats nsis
          Copy-Item -Path "target/${{ matrix.target }}/release/TinyWiiBackupManager*-setup.exe" -Destination "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-${{ matrix.pc }}-${{ matrix.arch }}-setup.exe"

      - name: Upload Windows distributables
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.pc }}-${{ matrix.arch }}
          path: dist/*

  build-macos:
    name: Build for macOS
    runs-on: macos-26
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: aarch64-apple-darwin
            arch: arm64
            min_sys_ver: "26"
          - target: x86_64-apple-darwin
            arch: x86_64
            min_sys_ver: "10.12"

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.92
          components: rust-src
          cache: false # https://github.com/Swatinem/rust-cache/issues/161

      - name: Cache cargo-packager
        id: cache-cargo-packager-macos
        uses: actions/cache@v5
        with:
          path: ~/.cargo/bin/cargo-packager
          key: cargo-packager-0.11.8-macos

      - name: Install cargo-packager
        if: steps.cache-cargo-packager-macos.outputs.cache-hit != 'true'
        run: cargo install cargo-packager --version 0.11.8 --locked

      - name: Build binary
        run: cargo build -Z build-std=std,panic_abort --release --locked --target ${{ matrix.target }}
        env:
          RUSTC_BOOTSTRAP: 1

      - name: Set macos.minimumSystemVersion in Cargo.toml
        run: sed -i '' 's/MACOS_MIN_SYS_VER/${{ matrix.min_sys_ver }}/' Cargo.toml

      - name: Build macOS app bundle
        run: cargo packager --release --target ${{ matrix.target }} --formats app

      - name: zip the app
        run: |
          mkdir dist
          ditto -c -k --sequesterRsrc --keepParent --zlibCompressionLevel 9 \
            "target/${{ matrix.target }}/release/TinyWiiBackupManager.app" \
            "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-macos-${{ matrix.arch }}.zip"

      - name: Create dmg (assets from sindresorhus/create-dmg)
        run: |
          npx -y appdmg@0.6.6 \
            "assets/appdmg-${{ matrix.arch }}.json" \
            "dist/TinyWiiBackupManager-${{ env.VERSION_NAME }}-macos-${{ matrix.arch }}.dmg"

      - name: Upload macOS distributables
        uses: actions/upload-artifact@v4
        with:
          name: dist-macos-${{ matrix.arch }}
          path: dist/*

  # ==================================================================================
  #  Release Job: Collects all artifacts and creates a single GitHub Release.
  # ==================================================================================
  release:
    name: Create GitHub Release
    if: github.ref_type == 'tag'
    runs-on: ubuntu-24.04
    needs: [build-linux, build-windows, build-macos]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Download distributables
        uses: actions/download-artifact@v4
        with:
          path: dist
          pattern: "dist-*" # This pattern will match all final distributable artifacts
          merge-multiple: true # This places all matching artifacts into a single 'dist' directory

      - name: Create version.txt
        run: |
          plain_ver="${VERSION_NAME#v}" # Remove leading 'v'
          echo -n "${plain_ver}" > version.txt  # Write without line break

      - name: Generate changelog
        run: npx -y git-cliff@latest --current -o CHANGELOG.md

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*
            version.txt
          body_path: CHANGELOG.md
          prerelease: ${{ contains(env.VERSION_NAME, 'alpha') || contains(env.VERSION_NAME, 'beta') || contains(env.VERSION_NAME, 'rc') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  scoop:
    name: Update scoop bucket
    if: github.ref_type == 'tag'
    runs-on: ubuntu-24.04
    needs: [release]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: main
          fetch-depth: 1

      - name: Download distributables
        uses: actions/download-artifact@v4
        with:
          path: dist
          pattern: "dist-windows-*"
          merge-multiple: true

      - name: Generate TinyWiiBackupManager.json
        run: |
          plain_ver="${VERSION_NAME#v}" # Remove leading 'v'
          x86_64_hash=$(sha256sum dist/TinyWiiBackupManager-${VERSION_NAME}-windows-x86_64.zip | cut -d' ' -f1)
          arm64_hash=$(sha256sum dist/TinyWiiBackupManager-${VERSION_NAME}-windows-arm64.zip | cut -d' ' -f1)
          x86_hash=$(sha256sum dist/TinyWiiBackupManager-${VERSION_NAME}-windows-x86.zip | cut -d' ' -f1)

          cp assets/scoop-template.json bucket/TinyWiiBackupManager.json
          sed -i "s/PLAIN_VER/${plain_ver}/g" bucket/TinyWiiBackupManager.json
          sed -i "s/X86_64_HASH/${x86_64_hash}/g" bucket/TinyWiiBackupManager.json
          sed -i "s/ARM64_HASH/${arm64_hash}/g" bucket/TinyWiiBackupManager.json
          sed -i "s/X86_HASH/${x86_hash}/g" bucket/TinyWiiBackupManager.json

      - name: Commit and push changes
        run: |
          git config user.name "Manuel Quarneti"
          git config user.email "mq1@ik.me"
          git add bucket/TinyWiiBackupManager.json
          git commit -m "chore(release): update scoop manifest to ${VERSION_NAME}"
          git push
